/* Global Styles */
body {
    font-family: 'Arial', sans-serif; /* Professional, clean font */
    background-color: #f4f4f9; /* Soft background color */
    color: #333; /* Dark gray text for better readability */
  }
  
  .input-container {
    width: 80%; /* Slightly reduced for better focus */
    max-width: 600px; /* Maximum width for better control on large screens */
    margin: 0 auto; /* Center align the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Increased padding */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    background: #d8ddee;
    border-radius: 8px; /* Smoothed corners */
    padding: 40px; /* Padding inside the container */
  }
  
  .textarea-field, .file-input, .button-submit {
    width: 100%; /* Full width within container */
    padding: 10px 15px; /* Comfortable padding inside fields */
    margin-bottom: 15px; /* Spaced out elements */
    border: 1px solid #ccc; /* Lighter, less invasive borders */
    border-radius: 5px; /* Subtle curvature */
  }

  .input-field {
    width: 100%; /* Full width within container */
    padding: 10px 15px; /* Comfortable padding inside fields */
    margin-bottom: 15px; /* Spaced out elements */
    border: 1px solid #ccc; /* Lighter, less invasive borders */
    border-radius: 5px; /* Subtle curvature */
  }
  
  /* Specific style for the tags input field */
  .tags-input {
    width: 40%; /* Adjusted to 70% of the container width */
  }
  .textarea-field {
    height: 150px; /* Fixed height for textarea */
  }
  
  .file-input, .input-field {
    height: 40px; /* Standard height for better touch */
  }
  
  .button-submit {
    padding: 10px 5px; /* Adequate padding for better touch interaction */
    width: 20%;
    background: linear-gradient(145deg, #6e8efb, #4a67d6); /* Modern gradient effect */
    color: white; /* White text for high contrast */
    border: none; /* No border for a clean look */
    border-radius: 8px; /* Rounded corners for a softer, modern look */
    cursor: pointer; /* Pointer to indicate it's clickable */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Subtle shadow for depth */
    transition: all 0.3s ease; 
    align-items: center;
    outline: none; /* Remove outline to enhance the clean appearance */
  }
  
  .button-submit:hover {
    background: linear-gradient(145deg, #4a67d6, #6e8efb); /* Reverse gradient for interactive feel on hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Slightly more pronounced shadow on hover */ }
  
  
  
  
  .switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; /* Increased margin for better spacing */
  }
  
  .switch-label {
    margin-right: 5px; /* More spacing around text */
    color: #666; /* Softened text color for labels */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .input-container {
      width: 90%; /* More width on smaller screens for usability */
    }
  }

  .custom-file-upload {
    padding: 10px 20px; /* Adequate padding for better touch interaction */
    width: 20%;
    background: linear-gradient(145deg, #6e8efb, #4a67d6); /* Modern gradient effect */
    color: rgb(255, 255, 255); /* White text for high contrast */
    border: none; /* No border for a clean look */
    border-radius: 8px; /* Rounded corners for a softer, modern look */
    cursor: pointer; /* Pointer to indicate it's clickable */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Subtle shadow for depth */
    transition: all 0.3s ease; 
    align-items: center;
    outline: none; /* Remove outline to enhance the clean appearance */
  }
  
  .custom-file-upload:hover {
    background: linear-gradient(145deg, #4a67d6, #6e8efb); /* Reverse gradient for interactive feel on hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Slightly more pronounced shadow on hover */ 
  }
  