::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  overflow-y: scroll;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #283e4a;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.app-header h1 {
  margin: 0;
  
}


.app-header div, .app-header nav {
  flex: 1;
  text-align: center;
}

.app-header nav a, .app-header nav button {

  text-decoration: none;
  margin: 0 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4a5568;
  color: #ffffff;
}

.landing {
  padding: 15%; /* Adjusted padding */
  padding-right: 20%;
  padding-left: 20%;
  background-color: #f4f4f4;
}

.landing form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  flex: 2;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.logo {
  width:20%;
  cursor: pointer;
}
.landing label {
  margin: 10px;
  width: 80%;
}

.landing input[type="text"],
.landing input[type="file"],
.landing textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;}

.cta-button {
  background-color: #0a66c2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #084392;
}

.app-footer {
  background-color: #283e4a;
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
