.landing {
    padding: 5%;
    padding-right: 20%;
    padding-left: 20%;
    background-color: #f4f4f4;
}

.landing form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing label {
    margin: 10px;
    width: 80%;
}

.landing input[type="text"],
.landing input[type="file"],
.landing textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.cta-button, .submit-button {
    background-color: #0a66c2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.landing input[type="email"], .landing input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.landing input[type="email"]:focus, .landing input[type="password"]:focus {
    border-color: #3182ce;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.25);
    outline: none;
}

.cta-button:hover, .submit-button:hover {
    background-color: #084392;
}

.error-message {
    color: red; /* This sets the text color to red */
}

/* Button base styles */
.buttonSI {
    display: inline-block;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 80%; /* Set a specific width */
    margin-top: 10px;
}

/* Standard sign in button */
.standard-button {
    background-color: #2d3748; /* Permanent background color */
    color: #ffffff;
}


/* Google sign in button */
.google-button {
    background-color: #db4437; /* Google brand red, permanent */
    color: #ffffff;
}

